﻿<style>
    fieldset
    {
        padding: 10px;
        min-height: 150px;
        border: 2px solid #E0E0E0;
        border-radius: 9px;
        margin-left: 0px;
        position: relative;
    }
    .date
    {
        text-align: left;
    }
    #fileUploadPop
    {
        display: none;
    }
    legend
    {
        border: none;
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        width: auto;
        margin-bottom: 0px;
    }
    #txtqrcode
    {
        width: 98px;
        height: 98px;
        text-align: center;
    }
    
    #txtqrcode a
    {
        font-size: 0.8em;
    }
    
    .remove
    {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }
    .remove:hover
    {
        background: white;
        color: black;
    }
    table.dataTable tr.warning:hover
    {
        color: black !important;
    }
    .modal-body
    {
        width: 100% !important;
    }
    .dataTables_scrollBody
    {
        width: 120% !important;
    }
    .Drug, .Route
    {
        width: 200px !important;
    }
    table.dataTable td, table.dataTable thead th, table.dataTable input
    {
        font-size: 13px;
    }
    .AM, .PM
    {
        padding: 0px !important;
    }
</style>

<div id="medii" style="margin-left: 0px;">
<br />
<div id="grid">
<div class="row" style="margin-left: 0px;">
<form class="form-horizontal" role="form" style="width: 100%">
<div id="trda" class="bs-example table-responsive">
<table id="mediDataTable" class="display" cellpadding="3" cellspacing="0" border="0"
                        style="width: 100%; white-space: nowrap">
                        <thead>
                        <tr>
                        <th>medicationerrorid</th>                   
                        <th>clmedicationerrorid</th>
                        <th>date of event</th>
                        <th>time of event</th>
                        <th>type of facility</th>
                        <th>type of facility</th>
                        <th>typeoffacilityothers_text</th>
                        <th>locationofevent_id</th>
                        <th>location of event</th>
                        <th>locationofevent_oherstext</th>
                        <th>errorsequenceremarks</th>
                        <th>erroroccurid</th>
                        <th>error occur</th>
                        <th>erroroccur_otherstext</th>
                        <th>errorreachid</th>
                        <th>error reach</th>
                        <th>incorrectmedicationid</th>
                        <th>incorrectmedication_text</th>
                        <th>directresultremarks</th>
                        <th>erroroutcomeid</th>
                        <th>error outcome</th>
                        <th>erroroutcomecategory_id</th>
                        <th>erroroutcomecategory_text</th>
                        <th>possibleerrorcauses_id</th>
                        <th>possibleerrorcauses_text</th>
                        <th>contributingfactors_id</th>
                        <th>contributingfactors_text</th>
                        <th>intialerror_id</th>
                        <th>intialerror_text</th>
                        <th>intialerror_otherstext</th>
                        <th>otherscategory_id</th>
                        <th>otherscategory_text</th>
                        <th>otherscategory_otherstext</th>
                        <th>potentialerror_id</th>
                        <th>potentialerror_text</th>
                        <th>potentialerror_otherstext</th>
                        <th>age</th>
                        <th>gender_id</th>
                        <th>gender</th>
                        <th>diagnosis</th>
                        <th>genericnameproduct_intended</th>
                        <th>genericnameproduct_error</th>
                        <th>brandproductname_intended</th>
                        <th>brandproductname_error</th>
                        <th>dosagefrom_intended</th>
                        <th>dosagefrom_error</th>
                        <th>dosefrquency_intended</th>
                        <th>dosefrquency_error</th>
                        <th>manufacturer_intended</th>
                        <th>manufacturer_error</th>
                        <th>strength_intended</th>
                        <th>strength_error</th>
                        <th>typeandsize_intended</th>
                        <th>typeandsize_error</th>
                        <th>matenais_id</th>
                        <th>matenais_text</th>
                        <th>matenais_othertext</th>
                        <th>suggest</th>
                        <th>DELETE</th>
                        </tr>
                        </thead>
</table>
</div>
</form>
</div>
</div>
<div id="medi" style="margin-left: 0px;">
        <div class="row" style="margin-left: 0px;">
            <div class="col-sm-3">
                <div class="editor-label">
                    <label>
                        Date of event</label>
                    <div class="col-sm-12" style="margin-left: 0px;">
                        <div class="input-group" style="border-color: green">
                            <input type="text" id="txtmeddate" class="form-control" />
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i>
                            <input type="hidden" id="medicationerrorid" />
                            <input type="hidden" id="clmedicationerrorid" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label>
                    Time of event</label>
                <div class="editor-label">
                    <div class="col-sm-12" style="margin-left: 0px;">
                        <div class="input-group" style="border-color: green">
                            <input type="text" id="txtmedtime" class="form-control" />
                            <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label>
                    Type of facility</label>
                <div class="editor-label">
                    <div class="col-sm-12" style="margin-left: 0px;">
                        <select id="txtfacility">
                            <option value="0">--Select--</option>
                            <option value="1">hospital</option>
                            <option value="2">clinic</option>
                            <option value="3">Pharmacy</option>
                            <option value="4">Others</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label>
                </label>
                <div class="editor-label">
                    <div class="col-sm-12" style="margin-top: 1%;">
                        <input id="txtfacilityot" autocomplete="off" type="text" name="name" />
                    </div>
                </div>
            </div>
        </div>

    <br />
    <div class="row" style="margin-left: 0px;">
        <div class="col-sm-3">
            <label>
                Location of event</label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-left: 0px;">
                    <select id="txtlocation">
                        <option value="0">--Select--</option>
                        <option value="1">Ward</option>
                        <option value="2">Clinic</option>
                        <option value="3">Pharmacy</option>
                        <option value="4">A&E</option>
                        <option value="5">Others</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 1%;">
                    <input id="txtlocationot" autocomplete="off" type="text" name="name" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-left: 0px;">
        <div class="col-sm-11" style="margin-left: 0px;">
            <label>
                please describe the error. include description / sequence of events and work enviroment</label>@*</div>*@
            @*  <div class="col-sm-5">*@
            <div class="editor-label">
                <div class="col-sm-12">
                    <textarea placeholder="(e.g. change of shift, short staffing, during peak hours)"
                        tabindex="1" id="txterror" rows="2"></textarea>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-left: 0px;">
        <div class="col-sm-3">
            <label>
                in which process did the error occur?</label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 5%;">
                    <select id="txterroroc">
                        <option value="0">--Select--</option>
                        <option value="1">prescribing</option>
                        <option value="2">Dispensing</option>
                        <option value="3">Administration</option>
                        <option value="4">Others</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 6%;">
                    <input id="txterrorocot" autocomplete="off" type="text" name="name" />
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
                did the error reach the patient?</label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 5%;">
                    <select id="txterrorpat">
                    <option value="0">--select--</option>
                        <option value="1">yes</option>
                        <option value="2">no</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
                was the incorrect medication, dose or dosage from administered to or taken by the
                patient</label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <select id="txtincorrect">
                        <option value="0">--select--</option>
                        <option value="1">yes</option>
                        <option value="2">no</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-left: 0px;">
        <div class="col-sm-11" style="margin-left: 0px;">
            <label>
                Describe the direct result on the patient</label>@*</div>*@ @*  <div class="col-sm-5">*@
            <div class="editor-label">
                <div class="col-sm-12">
                    <textarea placeholder="(e.g. death, type of harm, additional patient monitoring e.g. bp, hr, glucose level etc.)"
                        tabindex="1" id="txtresult" rows="2"></textarea>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-left: 0px;">
        <div class="col-sm-3">
            <label>
                SELECT THE ERROR OUTCOME
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <select id="txtoutcome">
                        <option value="0">--Select--</option>
                        <option value="1">no error</option>
                        <option value="2">error, no harm</option>
                        <option value="3">error, harm</option>
                        <option value="4">error, death</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
                OUTCOME CATEGORY
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <select id="txtoutcomcet1">
                        <option value="0">--Select--</option>
                        <option value="1">potentia error, circumstances\events have potential to casuse incident</option>
                    </select>
                     <select id="txtoutcomcet2">
                        <option value="0">--Select--</option>                       
                        <option value="1">Actual error-did not reach patient</option>
                        <option value="2">Actual error-caused no harm</option>
                        <option value="3">Additional monitoring required-case no harm</option>                                             
                    </select>
                     <select id="txtoutcomcet3">
                        <option value="0">--Select--</option>                       
                        <option value="1">Treatment/ intervention required- caused temporaty harm</option>
                        <option value="2">Initial/ prolonged hospitalization-caused temporary harm</option>
                        <option value="3">caused permanent harm</option>
                        <option value="4">Near death event</option>
                    </select>
                     <select id="txtoutcomcet4"> 
                     <option value="0">--Select--</option>                        
                        <option value="1">death</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
                POSSIBLE ERROR CAUSES</label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <select id="txtposibleerror">
                        <option value="0">--Select--</option>
                        <option value="1">staff factors</option>
                        <option value="2">medication related</option>
                        <option value="3">task and technology</option>
                        <option value="4">Work and enviroment</option>
                        <option value="5">others</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
                CONTRIBUTING FACTORS</label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <select id="txtfactors1">
                        <option value="0">--Select--</option>
                        <option value="1">inexperienced personnel</option>
                        <option value="2">inadequate knowledge</option>
                        <option value="3">distraction</option>
                    </select>
                    <select id="txtfactors2">
                        <option value="0">--Select--</option>
                        <option value="1">Sound alike medication</option>
                        <option value="2">Look alike medication</option>
                        <option value="3">Look alike packaging</option>
                    </select>
                    <select id="txtfactors3">
                        <option value="0">--Select--</option>
                        <option value="1">Failure to adhere to work procedure</option>
                        <option value="2">Use of abbreviations</option>
                        <option value="3">illegible prescription</option>
                        <option value="4">patient information/record unavailable/ inaccurate</option>
                        <option value="5">Wrong labeling/ instruction on dispensing envelope or bottle/ container</option>
                        <option value="6">Incorrect computer entry</option>
                    </select>
                    <select id="txtfactors4">
                        <option value="0">--Select--</option>
                        <option value="1">Heavy Workload</option>
                        <option value="2">peak hour</option>
                        <option value="3">stock arrangments/ storage problem</option>
                    </select>
                     <input id="txtfactors5" autocomplete="off" type="text" name="name" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-left: 0px;">
        <div class="col-sm-3">
            <label>
                WHICH CATEGORY MADE THE INITIAL ERROR
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <select id="txtinternalerror">
                        <option value="0">--Select--</option>
                        <option value="1">Specialist</option>
                        <option value="2">medical Officer(MO)</option>
                        <option value="3">Houseman medical officer(HMO)</option>
                        <option value="4">Pharmacist</option>
                        <option value="5">Provisional Registered Pharmacist</option>
                        <option value="6">Nurse</option>
                        <option value="7">Nurse(Trainee)</option>
                        <option value="8">Assistant Medical Officer(AMO)</option>
                        <option value="9">Assistant Medical Officer(AMO Trainee)</option>
                        <option value="10">Pharmacist Assistant</option>
                        <option value="11">Pharmacist Assistant (Trainee)</option>
                        <option value="12">Patient / Caregiver</option>
                        <option value="13">Dentist</option>
                        <option value="14">Others</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 1%;">
                    <input id="txtinternalerroroth" autocomplete="off" type="text" name="name" />
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
                OTHER CATEGORY ALSO INVOLVED IN THE ERROR
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <select id="txtothercat">
                        <option value="0">--Select--</option>
                        <option value="1">Specialist</option>
                        <option value="2">medical Officer(MO)</option>
                        <option value="3">Houseman medical officer(HMO)</option>
                        <option value="4">Pharmacist</option>
                        <option value="5">Provisional Registered Pharmacist</option>
                        <option value="6">Nurse</option>
                        <option value="7">Nurse(Trainee)</option>
                        <option value="8">Assistant Medical Officer(AMO)</option>
                        <option value="9">Assistant Medical Officer(AMO Trainee)</option>
                        <option value="10">Pharmacist Assistant</option>
                        <option value="11">Pharmacist Assistant (Trainee)</option>
                        <option value="12">Patient / Caregiver</option>
                        <option value="13">Dentist</option>
                        <option value="14">Others</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 1%;">
                    <input id="txtothercatoth" autocomplete="off" type="text" name="name" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-left: 0px;">
        <div class="col-sm-3">
            <label>
                WHICH CATEGORY DISCOVERED THE ERROR OR RECOGNISED THE POTENTIAL ERROR
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <select id="txtpotenterror">
                        <option value="0">--Select--</option>
                        <option value="1">Specialist</option>
                        <option value="2">medical Officer(MO)</option>
                        <option value="3">Houseman medical officer(HMO)</option>
                        <option value="4">Pharmacist</option>
                        <option value="5">Provisional Registered Pharmacist</option>
                        <option value="6">Nurse</option>
                        <option value="7">Nurse(Trainee)</option>
                        <option value="8">Assistant Medical Officer(AMO)</option>
                        <option value="9">Assistant Medical Officer(AMO Trainee)</option>
                        <option value="10">Pharmacist Assistant</option>
                        <option value="11">Pharmacist Assistant (Trainee)</option>
                        <option value="12">Patient / Caregiver</option>
                        <option value="13">Dentist</option>
                        <option value="14">Others</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 6%;">
                    <input id="txtpotenterroroth" autocomplete="off" type="text" name="name" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="Casesheets" style="border-bottom: 1px solid black;">
    </div>
    <br />
    <div class="row" style="margin-left: 0px;">
        <div class="col-sm-12" style="margin-left: 1%">
            <big>AVAILABLE, PLEASE PROVIDE PATIENT'S PARTICULARS (DO NOT PROVIDE ANY PATIENT IDENTIFIERS).</big>
        </div>
    </div>
    <br />
    <div class="row" style="margin-left: 0px;">
        <div class="col-sm-3">
            <label>
                AGE
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <input id="txtage" autocomplete="off" type="text" name="name" />
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
                GENDER
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <select id="txtgender">
                        <option value="0">--Select--</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
                DIAGNOSIS</label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <input id="txtdiagnosis" autocomplete="off" type="text" name="name" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="Casesheet" style="border-bottom: 1px solid black;">
    </div>
    <br />
    <div class="row" style="margin-left: 1%;">
        <big>PRODUCT DETAILS: PLEASE COMPLETE THE FOLLOWING FOR THE PRODUCTS INVOLVED. KINDLY
            ATTACH A SEPARATE PAGE FOR ADDITIONAL PRODUCTS.</big>
        <div class="row">
        
            <div id="Producttbl1" class="col-sm-12">
                <table style="width: 95%; height: 100%; margin-left:2%" >
                <col width="300">
                <col width="500">
                <col width="500">
                    <tr style="height: 100%">
                        <th>
                            Product Description
                        </th>
                        <th>
                            Product#1 (intended)
                        </th>
                        <th>
                            Product#1 (Error)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <b>Generic Name(Active Ingredient)</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tblgenname1" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tblgenname2" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Brand / product Name</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tblproduct1" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tblproduct2"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Dosage From</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tbldosage1" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tbldosage2"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Dose, Frequency, Duration , Route</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tbldose1"/>
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tbldose2" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        
        </div>
    </div>
    <br />
    <div class="row" style="margin-left: 1%;">
        <big>If Error involved similar product packaging</big>
        <div class="row">
           
            <div id="Producttbl2" class="col-sm-12">
                <table style="width: 95%; height: 100%; margin-left:2%">
                                <col width="300">
                <col width="500">
                <col width="500">
                    <tr style="height: 100%">
                        <th>
                            Product Description
                        </th>
                        <th>
                            Product#1 (intended)
                        </th>
                        <th>
                            Product#1 (Error)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <b>Manufacturer</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tblman1"/>
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tblman2"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Strength / Concentration</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tblstrength1" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tblstrength2"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Type and Size Of Container</b>
                        </td>
                        <td>
                            <div>
                                <input type="text" id ="tbltype1" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="tbltype2" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
           
        </div>
    </div>
    <br />
    <br />
    <div class="row" style="margin-left: 0px;">
        <div class="col-sm-3">
            <label>
                Reports are must usefull relevant matenals such as product label copy of prescription/order, etc/ can be  reviewed can these matenais be provided
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 10%;">
                    <select id="txtmatenais">
                        <option value="0">--Select--</option>
                        <option value="1">No</option>
                        <option value="2">Yes</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 21%;">
                    <input id="txtmatenaisot" autocomplete="off" type="text" name="name" />
                </div>
            </div>
        </div>
         <div class="col-sm-3">
            <label>suggest any recommendatios or describe policies or procedures you instituted or plan to institute to prevent future similar errors if available kindly attach investigational report eg root cause analysis (RCA)
            </label>
            <div class="editor-label">
                <div class="col-sm-12" style="margin-top: 0%;">
                    <input id="txtsuggest" autocomplete="off" type="text" name="name" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 1%;">
        <div class="col-sm-12" style="margin-left: 0px; margin-top: 30px">
            <div style="float: right">
                <button id="errorbtnsave" value="Save" onclick="errorsave(1)" class="btn btn-success ">
                    <i class="fa fa-floppy-o iconimage" aria-hidden="true"></i>&nbsp @ResourceLibrary.Resource.Save
                </button>
                <button id="errorbtnupdate" onclick="errorsave(0)" class="btn btn-primary">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Update
                </button>
                <button id="errorprint" value="print" class="btn btn-primary ">
                    <i class="fa fa-print" aria-hidden="true"></i>&nbsp @ResourceLibrary.Resource.Print</button>
                <button id="errorbtncancel" value="Cancel" class="btn btn-danger ">
                    <i class="fa fa-times-circle-o iconimage" aria-hidden="true"></i>&nbsp @ResourceLibrary.Resource.Cancel</button>
            </div>
            <br />
            <br />
<br />
<br />
            <br />
        </div>
    </div>
</div>
</div>
